@charset "UTF-8";
body{
	background-color: gainsboro;
}

#context{
	margin:30px;
	background-color: white;
    height: 700px;
}

.avatar{
	float:
	width:50x;
	height:50px;
	border-radius: 10px;
} 
.text-desc{
	font-size:12px;
	font-weight:normal;
	color:#999;
}
