.comment{
	margin:10px 0;
}

.question_sper{
	margin-top:0;
}

.menu{
	color:#999;
	margin-top:5px;
}

.menu .icon {
	margin-right:6px;
	font-size:15px;
	cursor:pointer;
}

.menu .icon:hover{
	color:#499ef3;
}

.question_section{
	padding-bottom:5px;
	border-bottom:1px solid #eee;
	margin-bottom:15px;
}

.sub{
	border-radius:5px;
	margin-top:10px;
	border:1px solid #eee;
	padding-top:15px;
	margin-bottom:15px;
}

.sub .btn{
	margin:10px 0;
}

.countComment2{
    font-size:15px;
}

.tag{
	margin:5px;
}

.related{
	line-height:30px;
	font-size:16px;
	list-style:none;
	padding-left:0;
	margin-left:0;
}

.wechat{
	width:50%; 
	margin-left: 100px;
}